@font-face {
       font-family: 'Ubuntumono';
       src : url(/fonts/UbuntuMono-Regular.ttf);
 
}

.consolas {
	text-align:center;
	font-size: 1.1em;
}

#wrapper
{
	td
	{
		font-size: 1.1em;
		font-family:Ubuntumono;
		vertical-align: middle;
	}
}