// my colors
@red:                   #BA83D4;
@magenta:               #FDF5E3;
@beige:                 #FDF5E3;
@yellow:                #FDAD22;
@purple:                #475C98;
@darkblue:              #586E75;
@pink:                  #D33682;

// My Fonts
@headlineFontFamily:      "Bree Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
@copyFontFamily:          Merriweather,Georgia, "Times New Roman", Times, serif;
@font-face {
       font-family: 'Ubuntumono';
       src : url(/fonts/UbuntuMono-Regular.ttf);
}
body {

}

.form-horizontal .control-label {
	text-align: left;
}

// Bienvenidos: correcion de margenes
.bienvenidos {
	margin-top: 40px;
	p {
		display:;

	}
	img {
		margin-left:15px;
	}

}

// Banderas de idioma
#banderas {
	margin-right: 30px;
}
img.pull-right {
	@media (max-width: 480px){

		width:150px;
		height:auto;
	}
}

// Formulario de reserva
.form-group {
	margin-bottom: 10px;
}

//Noticias y Eventos
.noticiasev {
	img {
		margin:15px;
		@media (max-width: 416px){
			margin-right:100px;
		}
	}
	img.pull-left {
		margin-left:0;
	}
}

// Visitar la Pascua
.visitarlapascua {
	img {
		padding:5px;
		margin-left:1%;
		margin-right:1%;
		margin-top:10px;
		margin-bottom:10px;
// Pantallas Grandes
@media (max-width: 1199px) {
	margin:0px;
}
//Medianas
@media (max-width: 991px) {
	padding:5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
}
//Pequenhas
@media (max-width: 768px) {
	padding:5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
}

}


}

// Servicios
.servicios {
	ul{
		list-style: none;
		padding-left: 20px;
	}
	li {
		line-height: 2em;
	}
}

// Footer
.piecera {
	img {
		margin-right: 5px;
		margin-left: 5px;
		display: inline !important;

	}
	.social {
		p {
			font-size:150%;
			@media (max-width: 410px){
				font-size: 100%;
				font-weight: bold;
			}
		}

		.col-sm-offset-2 {
//XS
@media (max-width: 410px){
	margin-left:9%;
}
//Grandes
@media (max-width: 1199px) and (min-width: 992px){
	margin-left:25%;
}
//Pequ;as
@media (max-width: 767px) and (min-width: 411px){
	margin-left:13%;
}
//Medianas
@media (max-width: 991px) and (min-width: 768px){
	margin-left:12%;
}
}

}
ol {
	list-style:none;
}
}

// Separacion entre el body y el footer
.content {
	margin-bottom: 20px;
}

//Justificar Parrafos
article, aside {
	p {
		text-align: justify;
	}
}

.Arservicios {

	.col-sm-3 {
		@media (max-width:410px) {
			padding-left: 1%;
			padding-right: 1%;
		}
	}
	.thumbnail {
		height: 100%;
		overflow: hidden;
		padding:3px;
	}
	.thumbnail.img-responsive {
		display: inline;
		height: 100%;
	}
}

.coffeeshop {
	img {
		margin-left: auto;
		margin-right: auto;
	}
}

.event {
	a {
		color:white;
	}
	.btn {
		margin-top: 10px;
	}
}

.tipohab {
	a.panel-heading {
      
        	display: block;
		img {
			position:relative;
			top:-7px;
			margin-left:3px;
		}
	}  

	.panel-title{
				@media (max-width: 410px){
			font-size:12px !important;
		}
	}
	.ind {
		width: 1.7em;
		height:2em;
	}
	.mat {
		width: 2em;
		height:2em;
	}

}

.mapa {
	img {
		display: block;
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	a {
		color:white;
	}
}

.matrimonial {
	  .rowsel {
	  	margin-bottom: 10px;
	  }
      .rowthumb {
      	.well {
      		padding:5%;
      	}
      	.col-xs-3 {
      		padding: .5%;
      	}
      	padding-left: 17px;
      	padding-right: 17px;
      }
	img.img-responsive {
		display: inline;
		margin-right: 10px;
		@media (max-width:400px){
          display: block;
          margin-left: auto;
          margin-right: auto;
          float: none !important;
		}
	}
	p {
			display: block;
		}
	li {
		@media (max-width: 767px) {
			display: inline;
			
		}
	}
}


	h1 {
       @media (max-width:430px){
		font-size: auto;
	}
}

#tiposh, #tascares {
	margin-top: 0px;
}

.nav-res-target {
	margin:5px !important;
}
#solicitarres a {
	color:white;
}

.ocultoRes {
	display: none;
}
.checkinout {
	font-size: 12px;
	font-weight:normal !important ;
}
@media  (max-width: 767px) {
	.col-xs-12{
		padding-left: 2px;
	}
	.col-sm-1 {
		padding:2px;
	}
	.form-horizontal .control-label{
		padding-top:2px;
	}
	.listaha{
		height: 50%;
	}
	.col-sm-4 {
		padding-left: 2px;
	}
	.formreserva {
		margin-left: 20px;
	}
}
	@media  (min-width: 768px) and (max-width:990px) {
		.checkinout{
		.control-label {
			padding-left:2px;
		}
		.col-sm-1 {
			width:14%;
			padding-right: 1%;
		}
		.col-sm-1.asdf {
			width:16%;
		}
		.chek {
			width:35%;

		}
		.form-control{
			width:90%;
			padding-left:5%;
		}
		.col-sm-4 {
			padding-right:1%;
			padding-left:1%;
		}
	}
}

	@media  (min-width: 991px) and (max-width:1199px) {
		.checkinout{
		.control-label {
			padding-left:2px;
		}
		.col-sm-1 {
			width:10%;
			padding-right: 1%;
		}
		.col-sm-1.asdf {
			width:13%;
		}
		.chek {
			width:35%;

		}
		.form-control{
			width:90%;
			padding-left:5%;
		}
		.col-sm-4 {
			padding-right:1%;
			padding-left:1%;
		}
	}
}


	@media (min-width:1200px) {
		.checkinout{
	    .control-label {
			padding-left:2px;
		}
		.form-control{
			width:100%;
			padding-right:2px;
		}
		.col-sm-1 {
			width:9%;
			padding-right: 0.5%;
		}
		.col-sm-1.asdf {
			width:10%;
		}
		.chek {
			width:35%;

		}

		.col-sm-4 {
			padding-right:1%;
			padding-left:0.5%;
			width:20%;
		}
	}
}

.chek{
	padding-left: 1%;
}

.montos {
	font-family:Ubuntumono;
	font-size: 1.1em;
	text-align: right;
	white-space: pre;
}

.calNoStyle{
	position: relative; z-index: 10;
}

.headingRe, .as
{
display:inline
}

#rProcesar {
	width:1024px;
	height: auto;
	.table-bordered{
		
	}
	.Gerente {
		font-size:16px;
		p{padding:0;
		margin:0;}
	}
	img {
		width:200px;
		height: 200px;
	}
	#direcc {
		font-size: 16px;
	}
	h4{
		font-size:20px;
	}
	h2 {
		font-size:24px;
		font-weight: bold;
	}
h1 {
	font-size:50px;
	font-weight: bold;
	margin-bottom: 5px;
}
strong, .noElim {
	font-size:16px;
	font-weight: bold;
}

th {
	font-size:18px;
}
td {
	font-size: 14px;
}

header {
	position:relative;
	left:15%;
}
#col134 {
	width:31%;
}

#col1 {
	width:25%;
}
#col2 {
	width:29%;
}
#col3 {
	width:12%;
}
#col4 {
	width:12%;
}
#col5 {
	width:5%;
}
#col6 {
	width:17%;
}

#col7 {
	width:54%;
}
#col8 {
	width:46%;
	font-family:Ubuntumono;
}



}

#loading {
	img {
		width: 200px;
		height: 200px;
	}
}

.dropdown-menu {
	cursor:pointer;
}

#reservasHabita
{
	.fconsola
	{
		font-family: Ubuntumono;
		font-size: 1.1em;
	}
}

#sello
{
	top:400px;
	position:absolute;
	height:auto;
	z-index:-22222;
}