@font-face {
  font-family: 'Ubuntumono';
  src: url(/fonts/UbuntuMono-Regular.ttf);
}
.consolas {
  text-align: center;
  font-size: 0.9em;
}
#wrapper td {
  font-size: 0.9em;
  font-family: Ubuntumono;
  vertical-align: middle;
}


.bodyTarifas {
	font-size: 14px;
}
tr {
	font-size: inherit;
}

td {
	font-size: inherit;
}

.tarifas {
	height: 2em;
}

tr.rechazado>td
{
  background-color:pink;
}
tr.aprobado>td
{
  background-color:lightgreen;
}
tr.noRevisada>td
{
  background-color:lightblue;
}

.botonAprobar,.botonRechazar,.botonPDF {
  width:1%;
  text-align: center;
}

.activo {
  background-color:beige;
}
