@font-face{font-family:'Ubuntumono';src:url(/fonts/UbuntuMono-Regular.ttf)}
.form-horizontal .control-label{text-align:left}
.bienvenidos{margin-top:40px}
.bienvenidos p{display:}
.bienvenidos img{margin-left:15px}
#banderas{margin-right:30px}
@media (max-width:480px){img.pull-right{width:150px;height:auto}}
.form-group{margin-bottom:10px}
.noticiasev img{margin:15px}
@media (max-width:416px){.noticiasev img{margin-right:100px}}
.noticiasev img.pull-left{margin-left:0}
.visitarlapascua img{padding:5px;margin-left:1%;margin-right:1%;margin-top:10px;margin-bottom:10px}
@media (max-width:1199px){.visitarlapascua img{margin:0px}}
@media (max-width:991px){.visitarlapascua img{padding:5px;margin-left:0px;margin-right:0px;margin-top:10px;margin-bottom:10px}}
@media (max-width:768px){.visitarlapascua img{padding:5px;margin-left:0px;margin-right:0px;margin-top:10px;margin-bottom:10px}}
.servicios ul{list-style:none;padding-left:20px}
.servicios li{line-height:2em}
.piecera img{margin-right:5px;margin-left:5px;display:inline !important}
.piecera .social p{font-size:150%}
@media (max-width:410px){.piecera .social p{font-size:100%;font-weight:bold}}
@media (max-width:410px){.piecera .social .col-sm-offset-2{margin-left:9%}}
@media (max-width:1199px) and (min-width:992px){.piecera .social .col-sm-offset-2{margin-left:25%}}
@media (max-width:767px) and (min-width:411px){.piecera .social .col-sm-offset-2{margin-left:13%}}
@media (max-width:991px) and (min-width:768px){.piecera .social .col-sm-offset-2{margin-left:12%}}
.piecera ol{list-style:none}.content{margin-bottom:20px}article p,aside p{text-align:justify}
@media (max-width:410px){.Arservicios .col-sm-3{padding-left:1%;padding-right:1%}}
.Arservicios .thumbnail{height:100%;overflow:hidden;padding:3px}
.Arservicios .thumbnail.img-responsive{display:inline;height:100%}
.coffeeshop img{margin-left:auto;margin-right:auto}
.event a{color:white}.event .btn{margin-top:10px}
.tipohab a.panel-heading{display:block}
.tipohab a.panel-heading img{position:relative;top:-7px;margin-left:3px}
@media (max-width:410px){.tipohab .panel-title{font-size:12px !important}}
.tipohab .ind{width:1.7em;height:2em}.tipohab .mat{width:2em;height:2em}
.mapa img{display:block;width:auto;height:auto;margin-left:auto;margin-right:auto}
.mapa a{color:white}.matrimonial .rowsel{margin-bottom:10px}
.matrimonial .rowthumb{padding-left:17px;padding-right:17px}
.matrimonial .rowthumb .well{padding:5%}
.matrimonial .rowthumb .col-xs-3{padding:.5%}
.matrimonial img.img-responsive{display:inline;margin-right:10px}
@media (max-width:400px){.matrimonial img.img-responsive{display:block;margin-left:auto;margin-right:auto;float:none !important}}
.matrimonial p{display:block}
@media (max-width:767px){.matrimonial li{display:inline}}
@media (max-width:430px){h1{font-size:auto}}
#tiposh,#tascares{margin-top:0px}
.nav-res-target{margin:5px !important}
#solicitarres a{color:white}
.ocultoRes{display:none}
.checkinout{font-size:12px;font-weight:normal !important }

body{
	background: url('../images/patterns.jpg');
}

.calNoStyle {
	position: relative;
	z-index: 1000;
}

*{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 16px;
}

/*header*/
.logo a img{
	margin: auto;
}

.boton-admin {
	font-size:1.8em;
	vertical-align: middle;
	color: #6B4848;
}

#enServicios {
	margin-bottom: 20px;
}

.btn-reserva {
	text-align: center;
}
a.btn.btn-lg{
	background: #fff;
	color: #333333;
}

a.btn-default{
	background: #880606;
	color: white;
}
a.btn-default:hover, a.btn-default:active, a.btn-default:focus{
	background: #880606;
	color: white;
}

/*background header  url('../images/background-header.jpg') no-repeat*/
/*Portada*/
#w1{
	background: url('../images/portada/portadaPalacedeSaturado.jpg') no-repeat;
	background-size: 100% auto;
	background-position: center center;
	padding: 50px 0;
	transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-webkit-transition: background 0.5s;
}
.justificado {
	text-align: justify;
}

/** cache **/

/***********----MENU----************/
#menu{
	width: 100%;
	height:auto;
	background: linear-gradient(180deg,#610000,rgb(130, 1, 1),#610000);
	box-shadow: 0px 1px 15px #333;
	position: relative;
	z-index: 1;
}
div#collapse {
  margin: 5px 0;
}
.navbar-default{
	background: transparent;
  	border: none;
}
.navbar{
	margin-top: 0px;
  	margin-bottom: 0px;
}
ul.nav li a{
	color :#ffffff;
	font-weight: bolder;
}
ul.nav li a:hover,ul.nav li a:focus{
	color: #FFFF00;
	background: transparent;
}
/*Menu resposivo*/
button.navbar-toggle{
	color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: transparent;
}

/****---Quienes somos---****/
#qs{
	background: url('../images/patterns.jpg');
	color: #666666;
	padding-bottom: 30px;
}
#qs h1{
	text-align: center;
	font-weight: bolder;
}
#qs h3{
	font-weight: bolder;
}
#qs h4{
	margin-top: 20px;
}

#qs p{
	text-align: justify;
}
#qs ul{
	list-style-position: inside;
	padding-left: 0px;
}
#qs ul li{
	font-size: 14px;
}
div.white{
	background: white;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #BFBFBF;
	padding: 10px 20px;
}

/*-------------Pre-servicios---------------*/
#pre-servicios{
		background: url("../images/portada/tasca2.jpg") no-repeat;
		background-size: 100% auto;
		background-position: center bottom;
		background-attachment: fixed;
		color: #fff;
		padding-bottom: 30px;
}

#pre-servicios h1{
	text-align: center;
	font-weight: bolder;
}



#pre-servicios p small{
	font-size: 14px;
	line-height: 1;
	display: inline-block;
	text-align: center;

}
#pre-servicios img{
	display: block;
	margin: 0 auto;
}

/*-------------------Separador------------------*/
#separador{
	padding-top: 0px;
	padding-bottom: 0px;
	color: #666;
	border-top: 3px solid #880606;
	border-bottom: 3px solid #880606;
}
#separador img{
	float: left;
	width: 80px;
	padding-right: 15px;  
}
#separador p{
	font-size: 18px;
	margin-bottom: 0px;
	padding-top: 5px;
}

/*---------------Pre-Habitaciones---------------*/
#pre-habitaciones{
	background: url("../images/portada/habitaciones.jpg") no-repeat;
	background-size: 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	padding-bottom: 30px;
}

#pre-habitaciones h1{
	text-align: center;
	font-weight: bolder;
}
#pre-habitaciones article p {
	font-style: justify;
}
#pre-habitaciones ul li{
	font-size: 20px;
	list-style: none;
}
#pre-habitaciones ul li a{
	font-size: 20px;
	list-style: none;
	color: #FFFF00;
}

/*---------Contactanos----------*/
#contactanos{
	background: url('../images/patterns.jpg');
	color: #666666;
	padding-bottom: 30px;
}
#contactanos h1 {
	text-align: center;
	font-weight: bolder; 
}
#contactanos h4{
	font-weight: bolder;
}

div#map-canvas{
	height: 250px;
}

/*footer*/
footer{
	background: linear-gradient(180deg,#610000,rgb(130, 1, 1),#610000);
	text-align: center;
	padding: 5px 0px;
	color: white;
}


/*        -ESTILOS PAGINA HABITACIONES-        */

div.jumbotron{
	background: rgb(130, 1, 1);
	color: #ffffff;
	margin-top: 30px;
}
#listHab{
	background: url('../images/patterns.jpg');
}
.img-habitacion{
	box-shadow: 0px 0px 15px #BFBFBF;
}

.img-habitacion.thumbnail>img {
	width: 100%;
	height: auto;
}
.img-habitacion.thumbnail h4{
	margin-top: 5px;
	margin-bottom: 5px;
}
.img-habitacion.thumbnail .caption {
  padding: 0px;
  color: #666;
  text-align: justify;
}
.img-habitacion.thumbnail .caption p{
  line-height: 1.2;
}
.img-habitacion.thumbnail .caption p>a{
	background: #880606;
	color: #fff;
	font-weight: bolder;
}

/*..... Habitaciones .....*/



/*..... Servicios .....*/
.Arservicios .thumbnail{
	background-color: transparent;
  	border: none;
}
#servicios .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: 100%;
}

/*          ....          */

/*TASCA PRESENTACIONES*/
body#tasca{
	background: url('../images/patterns.jpg');
}
#tasca-restaurant{
	padding-top: 50px;
	padding-bottom: 30px;
}
#tasca-restaurant legend h1{
	color: #666666;
}
.presentacion{
	margin-bottom: 20px;
}

/*----------BODY RESERVA, REGISTRO,-------*/
body#reservasHabita{
	background: url('../images/patterns.jpg');
}
body#registro{
	background: url('../images/patterns.jpg');
}



/*------------------FORMULARIOS----------------*/
		/*Sombra de todos los formularios*/
		.form-control:focus{
			border-color: #ccc;
			box-shadow: inset 0 0px 1px rgba(0,0,0,.075), 0 0 3px rgba(0, 0, 0, 0.6);
		}
		

		/*-----------REGISTRO USUARIO------------*/
		section.registroUsua{
			background: white;
			margin-top: 50px;
			margin-bottom: 20px;
			padding: 20px;
			box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
			border-radius: 5px;
		}

		section.registroUsua button.btn-default{
			background: #5A0000;
			color: white;
		}
		section.registroUsua .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			color: white;
			background-color: #333;
			border-color: #adadad;
		}
		section.registroUsua ul.dropdown-menu>li>a:hover, ul.dropdown-menu>li>a:focus{
			background: #333;
			color: white;
		}
		/*-----------RESERVACION DE HABITACIONES----------*/
		section.formreserva{
			background: white;
			margin-top: 50px;
			margin-bottom: 20px;
			padding: 20px;
			box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
			border-radius: 5px;
		}
		div.habitas{
			background: #880606;
			color: white;
			padding-top: 10px;
			padding-bottom: 10px;
			border-radius: 5px;
		}
		section.formreserva button.btn-default{
			background: #880606;
			color: white;
		}
		section.formreserva .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			color: white;
			background-color: #880606;
			border-color: #adadad;
		}
		section.formreserva .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
		  	background: #880606;
			color: white;
		}
		section.formreserva select option:focus{
		  	background: #880606;
			color: white;
		}





/*     ...      MEDIA QUERIES       ...       */


	/* ---Dispositivos pequeños moviles--- */
		@media (max-width: 480px){
			#separador{
				padding: 0px 0px;
				color: #666;
				border-top: 0;
				border-bottom: 0;
			}
			h1{
				font-size: 30px;
			}
			/*----------PORTADA-----------*/
			/*Cabecera*/
			#w1{
				padding: 20px 0;
			}

			/*Quienes Somoms*/
			#qs{
				padding: 10px 0px;
			}
			#qs img.img-circle {
		  		display: block;
		  		margin: auto;
		  		box-shadow: 0px 0px 10px #666;
			}
			div.white{
				background: none;
				border: none;
				border-radius: none;
				box-shadow: none;
				padding: none;
			}
			
			/*pre-servicios portada*/
			div#pre-servicios{
			background: url('../images/patterns.jpg');
			color: #666666;
			padding-bottom: 30px;
			}
			#pre-servicios img{
			display: block;
			margin: 0 auto;
			}
			#pre-servicios h1{
				text-align: center;
				font-weight: bolder;
			}

			div#pre-servicios p small{
				font-size: 16px;
				text-align: center;
				display: block;
			}
			

			/*Pre-Habitaciones*/

			#pre-habitaciones{
				background: url('../images/patterns.jpg');
				color: #666666;
				padding-bottom: 30px;
			}
			#pre-habitaciones ul {
				padding-left: 5px;
			}
			#pre-habitaciones ul li{
				font-size: 18px;
			}
			#pre-habitaciones ul li a{
				list-style: none;
				color: red;
			}

			/*----------FIN PORTADA-----------*/

			/*        -ESTILOS PAGINA HABITACIONES-        */

			div.jumbotron{
				background: #333333;
				color: #ffffff;
				margin-top: 30px;
			}
			.jumbotron p {
		  		font-size: 14px;
		  		font-weight: 200;
		  		line-height: 1.4;
			}

			/*          ....          */

			/*------------------FORMULARIOS----------------*/

				/*-----------REGISTRO USUARIO------------*/
				section.registroUsua{
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 20px;
					box-shadow: none;
					border-radius: none;
				}				
				/*-----------RESERVACION DE HABITACIONES----------*/
				section.formreserva{
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 20px;
					box-shadow: none;
					border-radius: none;
				}


		}/*............... FIN PEQUEÑOS MOVILES................. */


	

	/* smartphone y tables */
		@media (min-width: 481px) and (max-width: 767px) { 
			/*----------PORTADA-----------*/
			#w1{
				
			}
			#separador{
				padding: 0px 0px;
				color: #666;
				border-top: 0;
				border-bottom: 0;
			}
			#qs img.img-circle {
		  		display: block;
		  		margin: auto;
		  		box-shadow: 0px 0px 10px #666;
			}
			div.white{
				background: none;
				border: none;
				border-radius: none;
				box-shadow: none;
				padding: none;
			}
						
			/*pre-servicios portada*/
			div#pre-servicios{
			background: url('../images/patterns.jpg');
			color: #666666;
			padding-bottom: 30px;
			}
			#pre-servicios img{
			display: block;
			margin: 0 auto;
			}
			#pre-servicios h1{
				text-align: center;
				font-weight: bolder;
			}

			div#pre-servicios p small{
				font-size: 16px;
				text-align: center;
				display: block;
			}
			

			/*Pre-Habitaciones*/

			#pre-habitaciones{
				background: url('../images/patterns.jpg');
				color: #666666;
				padding-bottom: 30px;
			}
			#pre-habitaciones ul {
				padding-left: 5px;
			}
			#pre-habitaciones ul li a{
				font-size: 20px;
				list-style: none;
				color: red;
			}

			/*----------FIN PORTADA-----------*/

			/*        -ESTILOS PAGINA HABITACIONES-        */
			div.jumbotron{
				background: #333333;
				color: #ffffff;
				margin-top: 30px;
			}
			.jumbotron p {
		  		font-size: 16px;
		  		font-weight: 200;
			}

			/*          ....          */


			/*------------------FORMULARIOS----------------*/

				/*-----------REGISTRO USUARIO------------*/
				section.registroUsua{
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 20px;
					box-shadow: none;
					border-radius: none;
				}				
				/*-----------RESERVACION DE HABITACIONES----------*/
				section.formreserva{
					margin-top: 20px;
					margin-bottom: 20px;
					padding: 20px;
					box-shadow: none;
					border-radius: none;
				}


		}/*............... FIN smartphone................. */

	


	/* Portatiles tablets y desktop pequeñas*/
		@media (min-width: 768px) and (max-width: 991px) {
			#w1{
				
			}
			div.white{
				background: none;
				border: none;
				border-radius: none;
				box-shadow: none;
				padding: none;
			}


			/*PRE-SERVICIOS*/
			#pre-servicios{
				background: url("../images/portada/tasca2.jpg") no-repeat;
				background-size: 100% 100%;
				background-position: center bottom;
				background-attachment: fixed;
			}
			
			#pre-servicios h1{
				text-shadow: 2px 2px 10px rgb(0,0,0);
			}
			#pre-servicios p{
				text-shadow: 2px 2px 5px rgb(0,0,0);
			}		

			div#pre-servicios p small{
				font-size: 14px;
				line-height: 1;
				text-align: center;
				display: block;
			}
			
		}/*............... FIN tablets y desktop pequenas................. *

		

		/*Pantallas de escritorio*/
			@media (min-width: 992px) and (max-width: 1199px) {

				#w1{
				padding: 140px 0;
				}

				/*quienes somos*/
				#qs{
					padding: 50px 0 50px 0;
				}
				#separador p {
					width: 100%;
				}
				#pre-servicios{
					background: url("../images/portada/tasca2.jpg") no-repeat;
					background-size: 100% auto;
					background-position: center center;
					background-attachment: fixed;
					color: #fff;
				}
				#pre-servicios h1{
					text-shadow: 2px 2px 10px rgb(0,0,0);
				}
				#pre-servicios p{
					text-shadow: 2px 2px 5px rgb(0,0,0);
				}

				#pre-habitaciones{
					padding: 50px 0 50px 0;
				}
			}		

	

	/* pantallas grandes Superiores a 1200*/
		@media (min-width: 1200px) {

			/*#w1{
				background: url('../images/portada/portadaPalaceDesenfocado.jpg') no-repeat;
				background-size: 100%;
				background-position: center center;
				padding: 100px 0;
				
				transition:background 2s;
				-webkit-transition: background 2s;
				-o-transition: background 2s;
				-moz-transition: background 2s;
			}
			#w1:hover{
				/*background: url('../images/portada/portadaPalaceDesaturado.jpg') no-repeat;
				background-size: 100%;
				background-position: center center;
				padding: 100px 0;
			}*/
			#w1{
				padding: 140px 0;
			}

			/*quienes somos*/
			#qs{
				padding: 50px 0 70px 0;
			}


			/*PRE-SERVICIOS*/
			#pre-servicios{
				padding: 50px 0 70px 0;
			}
			
			#pre-servicios h1{
				text-shadow: 2px 2px 10px rgb(0,0,0);
			}
			#pre-servicios p{
				text-shadow: 2px 2px 5px rgb(0,0,0);
			}
			
			#pre-servicios .img-responsive{
				width: 100%;
			}
			/*-------------------Separador------------------*/
			#separador{
				padding: 0px 0px;
				color: #666;
			}
			#separador img{
				float: left;
				width: 80px;
				padding-right: 15px;  
			}
			#separador p{
				font-size: 18px;
			}

			/*PRE-HABITACIONES*/
			#pre-habitaciones{
				position: relative;
				height: 550px;	
			}
			#pre-habitaciones .container{
				position: relative;
				top: 10%;

			}
			#pre-habitaciones h1{
				margin-bottom: 15px;
			}
			#pre-habitaciones ul li {
			  font-size: 25px;
			  list-style: none;
			}

			/*Contactanos*/
			#contactanos{
				padding: 50px 0 70px 0;
			}
			#contactanos h1{
				margin-bottom: 20px;
			}
		}




/***********************************
REPORTE
************************************/

#rProcesar {
    width: 1024px;
    height: auto
}
#rProcesar .Gerente {
    font-size: 16px
}
#rProcesar .Gerente p {
    padding: 0;
    margin: 0
}
#rProcesar img {
    width: 200px;
    height: 200px
}
#rProcesar #direcc {
    font-size: 16px
}
#rProcesar h4 {
    font-size: 20px
}
#rProcesar h2 {
    font-size: 24px;
    font-weight: bold
}
#rProcesar h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 5px
}
#rProcesar strong,
#rProcesar .noElim {
    font-size: 16px;
    font-weight: bold
}
#rProcesar th {
    font-size: 18px
}
#rProcesar td {
    font-size: 14px
}
#rProcesar header {
    position: relative;
    left: 15%
}
#rProcesar #col134 {
    width: 31%
}
#rProcesar #col1 {
    width: 25%
}
#rProcesar #col2 {
    width: 29%
}
#rProcesar #col3 {
    width: 12%
}
#rProcesar #col4 {
    width: 12%
}
#rProcesar #col5 {
    width: 5%
}
#rProcesar #col6 {
    width: 17%
}
#rProcesar #col7 {
    width: 54%
}
#rProcesar #col8 {
    width: 46%;
    font-family: Ubuntumono
}
#loading img {
    width: 200px;
    height: 200px
}
.dropdown-menu {
    cursor: pointer
}
#reservasHabita .fconsola {
    font-family: Ubuntumono;
    font-size: 1.1em
}
#sello {
    top: 400px;
    position: absolute;
    height: auto;
    z-index: -22222
}
